button {
    color: #ffffff;
    background-color: #a62dc8;
    font-size: 17px;
    border: 1px solid #a62dc8;
    border-radius: 10px;
    padding: 17px 70px;
    cursor: pointer
}
button:hover {
    color: #a62dc8;
    background-color: #ffffff;
}